/*-- scss:defaults --*/

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js";

$primary:                       hsla(232, 20%, 35%, 1);
$secondary:                     hsla(0, 9%, 98%, 1);
$success:                       hsla(192, 100%, 33%, 1);
$body-bg:                       $secondary;

$font-size-base:                1rem; 
$font-family-sans-serif:        "Lato", "Open Sans", "Montserrat", "Roboto", 
                                // Cross-platform generic font family (default user interface font)
                                system-ui, 
                                // Safari for macOS and iOS (San Francisco)
                                -apple-system
                                // Windows
                                "Segoe UI",
                                // Android
                                Roboto,
                                // older macOS and iOS
                                "Helvetica Neue"
                                // Linux
                                "Noto Sans",
                                "Liberation Sans",
                                // Basic web fallback
                                Arial,
                                // Sans serif fallback
                                sans-serif,
                                // Emoji fonts
                                "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


$font-family-base:              "Lato";
$font-family-monospace:         SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$headings-font-family:          "Bookman", "Playfair Display";

  
$carousel-control-color:        $primary;
$carousel-caption-color:        $primary;
$carousel-indicator-active-bg:  $primary;

/*-- scss:rules --*/  


body > nav > div > div.d-flex.flex-row > header > div > a > h1 {
  font-size: 48px;
  font-family: "Playfair Display";
}

  

body > nav > div > div.col-12.d-flex.justify-content-center {
  font-size: 24px;
  border-top: 1px solid $secondary;
  width: 100%;
  font-family: "Segoe UI";
}
 
.card { 
  background-color: $secondary;
  transition: 0.5s;
}

.card-header {
  background-color: $body-bg !important;
}

.fp-card {
  border: 2px solid $primary;
  border-radius: 0.25rem !important;
}

.fp-card:hover {
  background-color: hsla(0, 12%, 96%, 1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.fp-card-body {
  padding: 1rem;
}

.fp-card-link {
  text-decoration: none;
}

.accordion-button {
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 15px;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-button.collapsed::after {
  content: '\002B';
  float: right;
}

.accordion-button:not(.collapsed)::after {
  content: "\2212";
}

.accordion-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.hero-row {
  background-color: $secondary;
}

.hero-row:hover {
  background-color: hsla(0, 12%, 96%, 1);
}

.footer {
  font-family: "Playfair Display";
}


/* Styles for dashboards */

.sidebar {
  background-color: $secondary;
  padding: 1rem;
  border-radius: 0.25rem;
}

// CSS Styles for the div containing the plot
.girafe {
  max-width: 100%;
  max-height: 100%;
  margin: 0 !important;
}


// CSS styles for the plots in the dashboard
// The left and right margin should be 0 for small screens
// but scale with the width of the page to keep the figure
// from being too tall
.girafe_container_std {
  margin: 0 !important;
  max-width: 100% !important;
  max-height: 75vh;
  transition: all 0.4s ease-in-out;
  align-items: center !important;
}



.bslib-grid {
  padding-top: 0 !important;
}